In [5]:
import requests
import lxml
import html5lib
import pandas as pd
from bs4 import BeautifulSoup

url = 'https://www.worldometers.info/coronavirus/country/us/#nav-yesterday'
response = requests.get(url)
data = response.text

soup = BeautifulSoup(data, 'html.parser')
table = soup.find(id="usa_table_countries_today")


df = pd.read_html(str(table), flavor='html5lib')[0]

remove = ["#", "Source", "Projections"]

df = df.loc[:, ~df.columns.isin(remove)]
dataframe = df.drop([df.index[0]])

dataframe.head(10)

,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population
1,California,9017191,NaN,86877.0,NaN,NaN,NaN,228213.0,2199.0,149610868.0,3786445.0,39512223.0
2,Texas,6659170,NaN,86261.0,NaN,NaN,NaN,229659.0,2975.0,60898205.0,2100236.0,28995881.0
3,Florida,5864228,NaN,71326.0,NaN,NaN,NaN,273038.0,3321.0,54539795.0,2539364.0,21477737.0
4,New York,5088520,NaN,68124.0,NaN,NaN,NaN,261573.0,3502.0,101749305.0,5230369.0,19453561.0
5,Illinois,3040861,NaN,37180.0,NaN,2902904.0,100777.0,239970.0,2934.0,55387904.0,4370951.0,12671821.0
6,Pennsylvania,2765051,NaN,43692.0,NaN,NaN,NaN,215986.0,3413.0,25048738.0,1956629.0,12801989.0
7,Ohio,2660728,NaN,37212.0,NaN,2600197.0,23319.0,227625.0,3183.0,21779414.0,1863224.0,11689100.0
8,North Carolina,2603138,NaN,22817.0,NaN,2560824.0,19497.0,248200.0,2176.0,26012804.0,2480225.0,10488084.0
9,Georgia,2473056,NaN,35946.0,NaN,1635695.0,801415.0,232924.0,3386.0,23361297.0,2200279.0,10617423.0
10,Michigan,2367688,NaN,34858.0,NaN,1421905.0,910925.0,237080.0,3490.0,23718229.0,2374944.0,9986857.0

In [13]:
dataframe.rename(columns={'Tot\xa0Cases/1M pop': 'Tot Cases/1M pop'}, inplace=True)
dfcases= dataframe[["USAState", "Tot Cases/1M pop"]]
print(dfcases.head().sort_values(by=['Tot Cases/1M pop']))
print(dfcases['Tot Cases/1M pop'].describe())

     USAState  Tot Cases/1M pop
1  California          228213.0
2       Texas          229659.0
5    Illinois          239970.0
4    New York          261573.0
3     Florida          273038.0
count        53.000000
mean     243237.679245
std       40932.401299
min      140224.000000
25%      227625.000000
50%      246366.000000
75%      268779.000000
max      337247.000000
Name: Tot Cases/1M pop, dtype: float64

In [12]:
dfdeaths= dataframe[["USAState", "TotalDeaths"]]
print(dfdeaths.head().sort_values(by=['TotalDeaths']))
print(dfdeaths['TotalDeaths'].describe())

     USAState  TotalDeaths
5    Illinois      37180.0
4    New York      68124.0
3     Florida      71326.0
2       Texas      86261.0
1  California      86877.0
count        61.000000
mean      32380.819672
std      125939.622195
min           7.000000
25%        2752.000000
50%       10760.000000
75%       22817.000000
max      987615.000000
Name: TotalDeaths, dtype: float64

In [14]:
dfdeathspop= dataframe[["USAState", "Deaths/1M pop"]]
print(dfdeathspop.head().sort_values(by=['Deaths/1M pop']))
print(dfdeathspop["Deaths/1M pop"].describe())

     USAState  Deaths/1M pop
1  California         2199.0
5    Illinois         2934.0
2       Texas         2975.0
3     Florida         3321.0
4    New York         3502.0
count      53.000000
mean     2778.641509
std       804.642876
min       956.000000
25%      2199.000000
50%      2984.000000
75%      3386.000000
max      4101.000000
Name: Deaths/1M pop, dtype: float64