In [38]:
import requests
import lxml
import html5lib
import pandas as pd
from bs4 import BeautifulSoup

url = 'https://www.worldometers.info/coronavirus/country/us/#nav-yesterday'
response = requests.get(url)
data = response.text

soup = BeautifulSoup(data, 'html.parser')
table = soup.find(id="usa_table_countries_today")


df = pd.read_html(str(table), flavor='html5lib')[0]

remove = ["#", "Source", "Projections"]

df = df.loc[:, ~df.columns.isin(remove)]
dataframe = df.drop([df.index[0]])

dataframe.head(10)

,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population
1,California,8995321,NaN,86200.0,NaN,NaN,NaN,227659.0,2182.0,148205138.0,3750868.0,39512223.0
2,Texas,6642650,NaN,85733.0,NaN,NaN,NaN,229089.0,2957.0,60477237.0,2085718.0,28995881.0
3,Florida,5856468,NaN,70789.0,NaN,4307617.0,1478062.0,272676.0,3296.0,54265412.0,2526589.0,21477737.0
4,New York,5079805,NaN,67967.0,NaN,2894429.0,2117409.0,261125.0,3494.0,101202187.0,5202245.0,19453561.0
5,Illinois,3035870,NaN,37054.0,NaN,2861350.0,137466.0,239576.0,2924.0,54954495.0,4336748.0,12671821.0
6,Pennsylvania,2760617,NaN,43486.0,NaN,NaN,NaN,215640.0,3397.0,24933014.0,1947589.0,12801989.0
7,Ohio,2657358,NaN,36822.0,NaN,2590639.0,29897.0,227336.0,3150.0,21698711.0,1856320.0,11689100.0
8,North Carolina,2595368,NaN,22725.0,NaN,2534052.0,38591.0,247459.0,2167.0,25872813.0,2466877.0,10488084.0
9,Georgia,2469089,NaN,35708.0,NaN,1629462.0,803919.0,232551.0,3363.0,23220763.0,2187043.0,10617423.0
10,Michigan,2363519,NaN,34766.0,NaN,1421905.0,906848.0,236663.0,3481.0,23603049.0,2363411.0,9986857.0

In [64]:
df.rename
dfcases= dataframe[["USAState", "Tot Cases/1M pop"]]
dfcases.head().sort_values(by=['Tot Cases/1M pop'])

KeyError: "['Tot Cases/1M pop'] not in index"

In [60]:
dfdeaths= dataframe[["USAState", "TotalDeaths"]]
dfdeaths.head().sort_values(by=['TotalDeaths'])

     USAState  TotalDeaths
5    Illinois      37054.0
4    New York      67967.0
3     Florida      70789.0
2       Texas      85733.0
1  California      86200.0

In [61]:
dfdeathspop= dataframe[["USAState", "Deaths/1M pop"]]
dfdeathspop.head().sort_values(by=['Deaths/1M pop'])

     USAState  Deaths/1M pop
1  California         2182.0
5    Illinois         2924.0
2       Texas         2957.0
3     Florida         3296.0
4    New York         3494.0